<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">

    <ul class="nav flex-column">

        {% if user.is_authenticated and user.es_admin %}

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'usuarios:listar_todos' %}">
                <i class="fas fa-users"></i>
                LISTA DE USUARIOS
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'productos:listar' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                LISTA DE PRODUCTOS
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'favoritos:listar' %}">
                <i class="fa-solid fa-star"></i>
                LISTA DE FAVORITOS
            </a>
        </li>

        {% else %} <!-- OSEA, SI ESTA AUTENTICADO O ES UN USUARIO SIN REGISTRARSE -->

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'productos:listar' %}">
                <i class="fa-solid fa-cart-shopping"></i>
                LISTA DE PRODUCTOS
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'favoritos:listar' %}">
                <i class="fa-solid fa-star"></i>
                LISTA DE FAVORITOS
            </a>
        </li>

        {% endif %}
        
    </ul>

    

    <hr class="my-3">
    
    <ul class="nav flex-column mb-auto">

        {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'registrarme' %}">
                <i class="fas fa-user-plus"></i> REGISTRARME
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
    
            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'usuarios:perfil' %}">
                    <i class="fa-solid fa-user-pen"></i>
                    MIS DATOS PERSONALES
                </a>
            </li>
            <br class="my-3">
            
            <form action="{% url 'cerrar_sesion' %}" method="post">{% csrf_token %}

                <button class="nav-link d-flex align-items-center gap-2 bi" type="submit"
                style="text-transform: uppercase;">SALIR ({{user.username}}) </button>

            </form>

            {% else %}

            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'iniciar_sesion' %}">
                
                <i class="fa-solid fa-right-to-bracket"></i> INICIAR SESIÓN
            </a>

            {% endif %}


        </li>
    </ul>

</div>