{% extends 'base/base.html' %}

{% block contenido %}

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

		<h1 class="h2">LISTA DE PRODUCTOS</h1>
		{% if messages %}

		<div class="alert alert-success" role="alert">
			<ul>
				{% for message in messages %}
					<strong>{{message}}</strong>
				{% endfor %}
			</ul>
		</div>
		
		{% endif %}

	</div>
	<div class="row">

		<div class="col">
			<a href="{% url 'productos:nuevo' %}" class="btn btn-primary">Nuevo Producto</a>
			<a href="{% url 'productos:listar_categorias' %}" class="btn btn-success">Ver Categorias</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Categorias</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>

					{% for producto in productos %}



						<tr>
							<td>{{producto.pk}} - {{producto.nombre}}</td>
							<td>
                                {% for c in producto.categorias.all %}
                                    <span class="badge rounded-pill text-bg-warning">{{c.nombre}}</span>
                                {% endfor %}
                            </td>
							<td>
								<!-- EN TEORIA ESTOS SOLO DEBERIAN MOSTRARSE PARA USUARIOS NORMALES -->
								 
                                <a href="{% url 'productos:ver_detalle' producto.pk %}" class="btn btn-info btn-sm"><i class="fa-solid fa-eye"></i></a>
								
								<form style="display: inline-block;" action="{% url 'favoritos:agregar_favorito' producto.pk %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-dark btn-sm"><i class="fa-solid fa-heart"></i></button>
								</form>
								
								<form style="display: inline-block;" action="{% url 'favoritos:quitar_favorito' producto.pk %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-dark btn-sm"><i class="fa-regular fa-heart"></i></i></button>
								</form>

								<!-- EN TEORIA ESTOS SON TAMBIEN PARA ADMINISTRADORES -->
								<a href="{% url 'productos:editar' producto.pk %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'productos:eliminar' producto.pk %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> </a>
                                <a href="{% url 'productos:desactivar' producto.pk %}" class="btn btn-dark btn-sm"><i class="fa-solid fa-eye-slash"></i></i> </a>
							</td>
						</tr>
					{% endfor %}

				</tbody>

			</table>

		</div>
	</div>
{% endblock contenido %}