{% extends 'base/base.html' %}

{% block css_extras %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock css_extras %}

{% load static %}

{% block contenido %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">            
    <h1 class="h2">Ver Detalle del Producto</h1>
    <div>
        <form style="display: inline-block;" action="{% url 'favoritos:agregar_favorito' producto.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg"><i class="fa-solid fa-heart"></i> Agregar a Favoritos </button>
        </form>
        
        <form style="display: inline-block;" action="{% url 'favoritos:quitar_favorito' producto.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg"><i class="fa-regular fa-heart"></i></i> Quitar de Favoritos </button>
        </form>
    </div>
    
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if form.instance.imagen %}
                    <img src="{{form.instance.imagen.url}}" alt="{{form.instance.nombre}}" class="img-thumbnail">
                {% else %}
                    <img src="{% static 'images/defaults/not-product-found.webp' %}">
                    <p class="text-center">No hay imagen disponible para este producto.</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{form.instance.nombre}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <span>ARS ${{form.instance.precio}}</span>
                </div>
                <p class="lead">{{form.instance.descripcion}}</p>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}


{% block js_extras %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('#id_categorias').select2({
            width: '100%',
        });
    </script>
{% endblock js_extras %}